[dopenwrt]
type = drive
client_id = 774703916810-10aee4s1100dvc1grntkf30mshmn1ema.apps.googleusercontent.com
client_secret = XJZbVGTFAN4atakSwh8WgWwV
scope = drive
token = {"access_token":"ya29.A0AfH6SMB-F1lxCnOLdukaOzXbhvJgUFZ-GMlLgJUmK9zBwsf3yv2KkzzL9VB6w4Dwi2sPrDEy7sU6PamDMjftYinZf_iopktQjHa-NAWr6wJumlTNhadoM9He5RZSpEHv9XZQg1UeG-S-taV878DYKcVK21W_","token_type":"Bearer","refresh_token":"1//0di5RcQkbPdjkCgYIARAAGA0SNwF-L9IrZLrnlds5V8wiBbMasWISScf8s7f55O8-mG-wN4on1iwaK5uujX-ccu_ZneT7T1Zkg7M","expiry":"2021-02-10T22:40:20.1899175+08:00"}
